@import url('https://fonts.cdnfonts.com/css/common-pixel');

* {
  font-family: 'Common Pixel', sans-serif;
}

body {
  background-color: #f5f5f5;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.title {
  text-align: center;
}

.fab {
  font-size: 25px;
  padding: 0px;
  align-items: center;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 40px;
  bottom: 45px;
  border-radius: 50%;
  z-index: 99999999999999;
}

.btn {
  border-color: #000;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 5px 5px #000;
  border: solid 2px #000;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  width: 80%;
  height: 150px;
  box-shadow: 5px 5px #000;
  border: solid 2px #000;
  z-index: 99999999999999999;
}

.input {
  position: fixed;
  width: calc(99% - 40px);
  padding: 10px;
  top: 20%;
  box-shadow: 5px 5px #000;
  border: solid 2px #000;
  outline: none;
}

.cancel-btn {
  position: fixed;
  background-color: #ff5a5a;
  width: 45%;
  left: 2%;
  bottom: 20%;
  padding: 10px 20px;
}

.create-btn {
  position: fixed;
  background-color: #4caf50;
  width: 45%;
  right: 2%;
  bottom: 20%;
  padding: 10px 20px;
}

.project-list {
  list-style-type: none;
}

ul {
  height: 65%;
  overflow-y: auto;
}

li {
  padding: 15px 20px;
  width: calc(100% - 40px);
  translate: -40px;
  border: solid 2px #000;
  box-shadow: #000;
  margin: 10px;
  box-shadow: 5px 5px #000;
  border-radius: 5px;
}

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 0;
  padding-top: 25px;
}

.border {
  border-radius: 5px;
}